body {
  background-image: url(../media/background.jpg);
  background-size: cover;
}

.container {
  margin: 20px auto;
  max-width: 960px;
}

.row {
  white-space: nowrap;
}

.wrapper {
  background-color: rgb(187 187 187 / 40%);
  border-radius: 0.375rem;
  margin: 0 auto;
  padding: 20px;
}

.default-card {
  background-color: rgb(236 242 249 / 60%);
  border: none;
  color: #1e173b;
  font-family: "Montserrat", sans-serif;
}

.search-box,
.most-searched-card,
a.most-searched-city,
.degree-style,
.location-icon,
.forecast-list-item,
.source-link {
  transition: all 200ms ease-in-out;
}

/* ----- Search Part ----- */
.form-control.search-box,
.btn-outline-secondary,
.most-searched-card {
  border: 2px solid rgb(242 151 163);
  color: #fff;
}

.search-box,
.most-searched-card {
  background-color: rgb(68 59 112 / 80%);
  font-family: "Quicksand", sans-serif;
}

.search-box:focus,
.most-searched-card:hover {
  background-color: rgb(136 69 97 / 70%);
}

/* ----- Search Box ----- */
.search-box::placeholder {
  color: rgb(213 213 213);
}

.search-box:focus {
  box-shadow: 0 0 9px 4px rgb(245 210 215);
}

.btn-outline-secondary {
  background-color: rgb(184 63 113);
  font-size: 21px;
  padding: 0 8px;
}

.btn-outline-secondary:hover {
  background-color: rgb(242 151 163);
}

.btn-outline-secondary:active {
  background-color: rgb(245 210 215);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  border-color: rgb(242 151 163);
}

/* ----- Most Searched ----- */
.most-searched-card-body {
  font-size: 15px;
  padding: 6.75px;
}

.most-searched-title {
  color: #fff;
  font-weight: bold;
}

a.most-searched-city {
  color: rgb(155 205 254);
  text-decoration: none;
}

.most-searched-city:hover {
  text-decoration: underline;
}

/* ----- Current Box ----- */
.current-card-body {
  height: 258.5px;
  padding: 10px 185px 10px 20px;
}

.current-temp {
  display: inline;
  font-size: 70px;
  line-height: 1;
}

.degree-units {
  font-size: 33px;
  position: relative;
  top: -25px;
}

.degree-units a {
  text-decoration: none;
}

.degree-style {
  color: rgb(209 103 147);
}

.degree-style:hover {
  color: rgb(242 151 163);
}

.disabled-degree-style {
  color: #1e173b;
  pointer-events: none;
}

.current-city {
  align-items: center;
  display: flex;
  height: 87px;
  line-height: 1;
  margin: 0;
  white-space: initial;
}

.location-icon {
  background-color: transparent;
  border: none;
  font-size: 35px;
  padding: 0;
}

.location-icon:hover {
  color: rgb(209 103 147);
}

.city-name {
  font-size: 29px;
  padding-left: 10px;
}

.current-data {
  font-size: 18px;
  line-height: 1.4;
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-description {
  text-transform: capitalize;
}

.current-time {
  color: rgb(106 106 106);
}

.current-icon {
  display: block;
  position: absolute;
  right: 18px;
  top: 20px;
  width: 170px;
}

/* ----- Info Box ----- */
.info-list {
  font-size: 17px;
  line-height: 2.5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info-icon {
  width: 45px;
}

.info-title {
  font-weight: bold;
}

/* ----- Forecast Card ----- */
.forecast-card-body {
  padding: 15px 15px 4px;
}

.forecast-list {
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.forecast-list-item {
  background-color: rgb(68 59 112 / 10%);
  border-radius: 0.375rem;
  line-height: 2;
  margin: 0 0 11px;
  padding: 5px;
}

.forecast-list-item:hover {
  background-color: rgb(242 151 163 / 45%);
}

.day-title {
  font-weight: bold;
  padding-left: 15px;
}

.day-icon {
  width: 36px;
}

.day-degree {
  padding-right: 15px;
}

.min-temp {
  color: rgb(106 106 106);
}

/* ----- Horizon Card ----- */
.horizon-card-body {
  padding: 10px 16px;
}

.horizon-icon {
  width: 120px;
}

.horizon-list {
  list-style: none;
  margin: 0;
  padding: 22px 80px 22px 0;
}

.horizon-title {
  color: rgb(124, 124, 124);
  font-size: 30px;
}

.horizon-time {
  font-size: 20px;
}

/* ----- Source Link ----- */
.source-code {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 0 0;
  text-align: center;
}

.source-link {
  color: rgb(155 205 254);
}

.source-link:hover {
  color: rgb(59 66 73);
}
